<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/javva/Downloads/Git repository/NaveenSiteForFrameworkPractice/src/test">
        <classes>
            <class name="Tests.EndToEnd">
                <methods>
                    <include name="endToEnd"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>